@import '@xyflow/react/dist/style.css';
@import '@mimir-wallet/ui/styles.css';
@source '../../packages/ui/src/**/*.{js,ts,jsx,tsx}';
@source '../../packages/ai-assistant/src/**/*.{js,ts,jsx,tsx}';
@source '../index.html';
@source '../src/**/*.{js,ts,jsx,tsx,mdx}';
