@import "tailwindcss";
@plugin '@mimir-wallet/ui/hero';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source '../../node_modules/@mimir-wallet/ui/build/**/*.{js,ts,jsx,tsx}';
@source '../index.html';
@source '../src/**/*.{js,ts,jsx,tsx,mdx}';
@custom-variant dark (&:is(.dark *));

:root {
  --toastify-text-color-light: #151F34;
  --toastify-color-info: #2700FF;
  --toastify-color-success: #00DBA6;
  --toastify-color-warning: #FF8D07;
  --toastify-color-error: #FF5310;
}

@theme {
  --text-6xl: 2.25rem;
  --text-5xl: 2rem;
  --text-4xl: 1.75rem;
  --text-3xl: 1.5rem;
  --text-2xl: 1.25rem;
  --font-sans: "Sofia Sans Semi Condensed", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --animate-fade-out: fade-out 2s 1;
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  --animate-fade-in: fade-in 2s 1;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  --animate-blink-bg: blink-bg 1s 3;
  @keyframes blink-bg {
    0% {
      background: linear-gradient(245deg, #F4F2FF 0%, #FBFDFF 100%);
    }
    50% {
      background: hsl(var(--heroui-primary-100));
    }
    100% {
      background: linear-gradient(245deg, #F4F2FF 0%, #FBFDFF 100%);
    }
  }
  --animate-hourglass-flip: hourglassFlip 1.5s ease-in-out infinite;
  @keyframes hourglassFlip {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(180deg);
    }
    65% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  --animate-dots: dots 1.5s ease-in-out infinite;
}

@layer base {
  .animate-dots::after {
    content: '';
    animation: dots 1.5s ease-in-out infinite;
  }

  @keyframes dots {
    0%, 20% {
      content: '';
    }
    25%, 45% {
      content: '.';
    }
    50%, 70% {
      content: '..';
    }
    75%, 100% {
      content: '...';
    }
  }

  p {
    @apply text-inherit leading-inherit font-normal;
  }
  h1 {
    @apply text-4xl leading-[1.2] font-bold;
  }
  h2 {
    @apply text-3xl leading-[1.2] font-bold;
  }
  h3 {
    @apply text-2xl leading-[1.2] font-bold;
  }
  h4 {
    @apply text-xl leading-[1.2] font-bold;
  }
  h5 {
    @apply text-large leading-[1.2] font-bold;
  }
  h6 {
    @apply text-medium leading-[1.2] font-bold;
  }

  input::placeholder {
    @apply text-foreground-500;
  }

  button {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }

  /* custom styles */
  html {
    -webkit-font-smoothing: antialiased;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    tab-size: 4;
  }

  * {
    scroll-behavior: smooth;
  }

  body {
    background: linear-gradient(245deg, #F4F2FF 0%, #FBFDFF 100%);
    font-size: 0.875rem;
    line-height: 1.2;
    color: hsl(var(--heroui-foreground));
    font-family: var(--default-font-family);
  }

  html,body,#root {
    min-height: 100dvh;
  }

  ul {
    padding-left: 0;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .Toastify__toast {
    border-radius: var(--heroui-radius-large);
    box-shadow: var(--heroui-box-shadow-large);
  }

  .Toastify__toast-body {
    align-items: start;
  }

  .Toastify__toast-body * {
    user-select: none;
  }

  .Toastify__toast-icon {
    width: 30px;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #d9d9d9;
  }

  .scroll-hover-show {
    @apply [&::-webkit-scrollbar]:bg-transparent [&::-webkit-scrollbar-thumb]:bg-transparent group-hover:[&::-webkit-scrollbar-thumb]:bg-[#d9d9d9] group-hover:[&::-webkit-scrollbar-thumb:hover]:bg-[#d9d9d9];
  }
}
